<app-tabs>
    <app-tab-element id="0" title="Telemetry" [active]="true">
        <app-tool-bar></app-tool-bar>
        <app-telemetry></app-telemetry>
    </app-tab-element>
    <app-tab-element id="1" title="Race Engineer">
        Race Engineer
    </app-tab-element>
    <app-tab-element id="2" title="Converter">
        <app-tool-bar></app-tool-bar>
        <app-converter></app-converter>
    </app-tab-element>
    <app-tab-element id="3" title="Recorder">
        Recorder
    </app-tab-element>
</app-tabs>
<app-status-bar></app-status-bar>